<label>Nombre</label>

<input (keyup)="nombre($event)">

<span [style.color]="viajero.nombre.length < 3 ? 'red': ''">
  {{ viajero.nombre }}
</span>


<div>
  <label>Primer Apellido</label>

  <span>
  <input (keyup)="apellido1($event)">
</span>

  @if (viajero.apellido1.length < 3) {
    <span>Los apellidos no pueden ser nulos</span>
  }
</div>

<label>Fecha de Nacimiento</label>
<p>{{ viajero.fechaNacimiento | date:'dd/MM/yyyy' }}</p>

<app-origen (localidad)="filtrarTrenes($event)"></app-origen>


<div>
  @for (tren of trenes; track tren.id) {
    <app-tren [tren]="tren"></app-tren>
  }
</div>

<div>
  <button (click)="enviar()">Enviar</button>
</div>
